Repository muhammadnoorulainroy/smart-lighting-scenes-with-natural-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

backend-checkstyle:
  name: Backend Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain --quiet'
  language: system
  pass_filenames: false

backend-pmd:
  name: Backend PMD
  entry: bash -c 'cd backend && ./gradlew pmdMain --quiet'
  language: system
  pass_filenames: false

backend-spotbugs:
  name: Backend SpotBugs
  entry: bash -c 'cd backend && ./gradlew spotbugsMain --quiet'
  language: system
  pass_filenames: false

feat: implement local authentication with signup and login endpoints, including password hashing and session management
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/LoginRequest.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/SignupRequest.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/User.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/LocalAuthService.java
  backend/src/main/resources/db/migration/V12__Add_password_hash.sql
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement frontend for local authentication
  frontend/src/App.vue
  frontend/src/api/auth.js
  frontend/src/components/AuthButton.vue
  frontend/src/components/AuthModal.vue
  frontend/src/stores/auth.js
  frontend/src/views/HomeView.vue
Due: frontend-eslint, frontend-prettier

feat: implement mobile authentication with Google Sign-In and enhance UI components for user interaction
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MobileAuthService.java
  mobile/app/build.gradle.kts
  mobile/app/proguard-rules.pro
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/smartlighting/mobile/MainActivity.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/api/ApiService.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/api/RetrofitInstance.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/ApiResponse.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Device.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/LightCommand.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Room.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Scene.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/repository/LightingRepository.kt
  mobile/app/src/main/java/com/smartlighting/mobile/di/AppModule.kt
  mobile/app/src/main/java/com/smartlighting/mobile/di/NetworkModule.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/components/ErrorMessage.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/components/LoadingIndicator.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/navigation/NavGraph.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/navigation/Routes.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/auth/AuthViewModel.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/auth/LoginScreen.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/MainScreen.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/MainViewModel.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/ManualTab.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/ScenesTab.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/VoiceTab.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/theme/Color.kt
  mobile/app/src/main/java/com/smartlighting/mobile/util/Constants.kt
  mobile/app/src/main/java/com/smartlighting/mobile/util/UiState.kt
  mobile/app/src/main/res/values-night/themes.xml
  mobile/app/src/main/res/values/colors.xml
  mobile/app/src/main/res/values/themes.xml
  mobile/app/src/main/res/xml/backup_rules.xml
  mobile/app/src/main/res/xml/data_extraction_rules.xml
  mobile/app/src/main/res/xml/network_security_config.xml
  mobile/build.gradle.kts
  mobile/gradle.properties
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat(auth): implement session-based authentication with persistent cookies
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/resources/application.properties
  mobile/app/src/main/java/com/smartlighting/mobile/MainActivity.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/api/AuthInterceptor.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/local/PersistentCookieJar.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/local/TokenManager.kt
  mobile/app/src/main/java/com/smartlighting/mobile/di/NetworkModule.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/navigation/NavGraph.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/auth/AuthViewModel.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/auth/LoginScreen.kt
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat(mobile): add data models and API endpoints for scenes and schedules
  mobile/app/src/main/java/com/smartlighting/mobile/data/api/ApiService.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Scene.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Schedule.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/repository/LightingRepository.kt
Due: none

feat(mobile): implement ViewModel operations for scenes and schedules
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/MainScreen.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/MainViewModel.kt
Due: none

feat(mobile): add Scenes tab with NLP control
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/ScenesTab.kt
Due: none

feat: enhance local authentication and refactoring session management in AuthController
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/LocalAuthUserPrincipal.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add SQL migration to insert test users for local development
  backend/src/main/resources/db/migration/V13__Add_test_users.sql
Due: none

feat: implement user creation endpoint and associated DTO for user management
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/UsersController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/CreateUserRequest.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/UserDto.java
  frontend/src/App.vue
  frontend/src/api/users.js
  frontend/src/components/home/icons.js
  frontend/src/router/index.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/RoutinesView.vue
  frontend/src/views/SettingsView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

feat(mobile): add Schedules tab with NLP control
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/SchedulesTab.kt
Due: none

refactor: modularize nlp schedule from NlpScheduleService
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpScheduleBuilder.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: modularize open AI client from NlpService
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpOpenAiClient.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: modularize command parser and color utils for nlp
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpColorUtils.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpCommandParser.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: modularize NLP command execution and enhance service structure
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/NlpService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpCommandExecutor.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: extract MQTT message handling into MqttMessageHandler for improved modularity
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/mqtt/MqttMessageHandler.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add scene command tracking and acknowledgment handling
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/MqttConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/LightingController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ScenesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/NlpService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SceneCommandTracker.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/websocket/WebSocketEventService.java
  backend/src/main/resources/application.properties
  frontend/src/components/rooms/DeviceCard.vue
  frontend/src/stores/websocket.js
  frontend/src/views/ScenesView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

refactor: replace console logs with conditional logging in dev env
  frontend/src/components/rooms/DeviceDetailModal.vue
  frontend/src/stores/websocket.js
Due: frontend-eslint, frontend-prettier

feat: enhance MQTT command handling with acknowledgment support
  embedded/esp32_controller_2/config.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/mqtt_client_async.py
  embedded/esp32_controller_2/runtime_config.py
Due: none

refactor: extract MQTT command publishing into MqttCommandPublisher for improved modularity
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/mqtt/MqttCommandPublisher.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: modularize schedule conflict handling
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictResolutionGenerator.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: modularize conflict detection
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictDetector.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add CI workflow for backend and frontend tests
  .github/workflows/ci.yml
Due: none

feat: enhance CI workflow with code analysis and build checks for backend and frontend
  .github/workflows/ci.yml
Due: none

refactor: modularize schedule conflict service
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/ScheduleConflictService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictAiEnhancer.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add CI workflows for documentation generation and release process
  .github/workflows/docs.yml
  .github/workflows/release.yml
  backend/build.gradle.kts
Due: none

fix: correct failing tests and fix linting errors
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/DevicesController.java
  docs/BUILD.md
  frontend/jsdoc.json
  frontend/src/components/rooms/DeviceCard.vue
  frontend/src/views/RoomsView.vue
  frontend/src/views/ScenesView.vue
  frontend/src/views/SchedulesView.vue
  frontend/src/views/SettingsView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement mobile Google authentication endpoint and refactor MobileAuthService
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MobileAuthService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: improve logging and enhance schedule triggering logic in SchedulerService
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SchedulerService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: streamline conflict resolution logic and enhance NLP command parsing
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/NlpService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictAiEnhancer.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictResolutionGenerator.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpCommandParser.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpOpenAiClient.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpScheduleBuilder.java
  frontend/src/views/SchedulesView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

refactor: implement granular NLP authorization
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/NlpController.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add GUEST role restrictions for schedule creation
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/NlpService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: enhance I2C error handling and recovery in OLED display management
  embedded/esp32_controller_2/led_controller_async.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/oled_display_async.py
  embedded/esp32_controller_2/sensor_logic_async.py
Due: none

feat: add WebSocket broadcast for NLP schedule creation
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpScheduleBuilder.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(vue|js|jsx|cjs|mjs)$
  frontend-prettier: any of: ^frontend/.*\.(vue|js|jsx|cjs|mjs|json|css)$
  backend-checkstyle: any of: ^backend/src/main/java/.*\.java$
  backend-pmd: any of: ^backend/src/main/java/.*\.java$
  backend-spotbugs: any of: ^backend/src/main/java/.*\.java$
