Repository muhammadnoorulainroy/smart-lighting-scenes-with-natural-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

backend-checkstyle:
  name: Backend Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain --quiet'
  language: system
  pass_filenames: false

backend-pmd:
  name: Backend PMD
  entry: bash -c 'cd backend && ./gradlew pmdMain --quiet'
  language: system
  pass_filenames: false

backend-spotbugs:
  name: Backend SpotBugs
  entry: bash -c 'cd backend && ./gradlew spotbugsMain --quiet'
  language: system
  pass_filenames: false

chore: set timezone to paris
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: none

refactor: update mobile API service signatures
  mobile/app/src/main/java/com/smartlighting/mobile/data/api/ApiService.kt
Due: none

feat: add role-based access control for mobile
  mobile/app/src/main/java/com/smartlighting/mobile/data/repository/LightingRepository.kt
Due: none

docs: update BUILD.md
  docs/BUILD.md
Due: none

refactor: add published docs link to README.md
  README.md
Due: none

feat: implement RBAC across all backend controllers
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/DevicesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/RoomsController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ScenesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/SchedulesController.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: enhance real-time updates for schedule triggers
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SchedulerService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/websocket/WebSocketEventService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: improve MQTT message handling and logging
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/mqtt/MqttMessageHandler.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement frontend RBAC and route protection
  frontend/src/components/UserMenu.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.js
  frontend/src/utils/routeGuards.js
Due: frontend-eslint, frontend-prettier

feat: add reusable UI components and toast notifications
  frontend/src/components/AddDeviceModal.vue
  frontend/src/components/ConfirmModal.vue
  frontend/src/components/ToastNotification.vue
  frontend/src/stores/toast.js
Due: frontend-eslint, frontend-prettier

feat: add RBAC to all frontend views
  frontend/src/views/DashboardView.vue
  frontend/src/views/NotFoundView.vue
  frontend/src/views/RoomsView.vue
  frontend/src/views/ScenesView.vue
  frontend/src/views/SchedulesView.vue
  frontend/src/views/SettingsView.vue
Due: frontend-eslint, frontend-prettier

feat: enhance WebSocket and device management UI
  frontend/src/App.vue
  frontend/src/components/rooms/DeviceDetailModal.vue
  frontend/src/components/rooms/RoomCard.vue
  frontend/src/stores/websocket.js
  frontend/src/views/DevicesView.vue
Due: frontend-eslint, frontend-prettier

feat: implement user role management and enhance WebSocket integration for real-time updates
  mobile/app/src/main/java/com/smartlighting/mobile/data/local/TokenManager.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/model/Schedule.kt
  mobile/app/src/main/java/com/smartlighting/mobile/data/websocket/WebSocketService.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/auth/AuthViewModel.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/MainViewModel.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/ScenesTab.kt
  mobile/app/src/main/java/com/smartlighting/mobile/ui/screens/main/tabs/SchedulesTab.kt
  mobile/app/src/main/java/com/smartlighting/mobile/util/Constants.kt
  mobile/app/src/main/res/xml/network_security_config.xml
Due: none

feat: add OLED rotation config to fix upside-down display
  embedded/esp32_controller_2/config.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/oled_display_async.py
Due: none

feat: implement light sleep in esp32 - ble central
  embedded/esp32_controller_1/ble_central.py
  embedded/esp32_controller_1/main.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/uart_receiver_async.py
  embedded/nrf52840_sensor_1/code.py
  embedded/nrf52840_sensor_2/code.py
Due: none

fix: update route guard tests and lint fixes
  frontend/src/App.vue
  frontend/src/components/AddDeviceModal.vue
  frontend/src/components/AuthButton.vue
  frontend/src/components/AuthModal.vue
  frontend/src/components/ConfirmModal.vue
  frontend/src/components/ToastNotification.vue
  frontend/src/components/rooms/DeviceCard.vue
  frontend/src/components/rooms/DeviceDetailModal.vue
  frontend/src/components/rooms/RoomCard.vue
  frontend/src/components/scenes/SceneModal.vue
  frontend/src/components/schedules/ScheduleModal.vue
  frontend/src/stores/toast.js
  frontend/src/stores/websocket.js
  frontend/src/utils/logger.js
  frontend/src/utils/routeGuards.test.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/DevicesView.vue
  frontend/src/views/RoomsView.vue
  frontend/src/views/ScenesView.vue
  frontend/src/views/SchedulesView.vue
  frontend/src/views/SettingsView.vue
Due: frontend-eslint, frontend-prettier

fix: backend checkstyle - trailing whitespace and line length
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/DotenvConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/RoomsController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ScenesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/DeviceStateRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MobileAuthService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SchedulerService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/conflict/ConflictAiEnhancer.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpScheduleBuilder.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/websocket/WebSocketEventService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: enhance Makefile for better OS compatibility and output formatting
  Makefile
Due: none

docs: update shell requirements and ESP32 #1 light sleep
  README.md
  docs/BUILD.md
  docs/EMBEDDED_SYSTEM.md
Due: none

fix: build fail error
  frontend/src/views/SchedulesView.vue
Due: frontend-eslint, frontend-prettier

change led mapping to rooms
  README.md
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ScenesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SchedulerService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/nlp/NlpCommandExecutor.java
  backend/src/main/resources/db/migration/V14__Update_led_mapping.sql
  embedded/esp32_controller_2/config.py
Due: backend-checkstyle, backend-pmd, backend-spotbugs

docs: update README and DEVELOPMENT documentation for environment configuration and demo links
  README.md
  docs/DEVELOPMENT.md
  frontend/src/views/HomeView.vue
Due: frontend-eslint, frontend-prettier

fix: remove COMMENT ON statements for Render PostgreSQL compatibility
  backend/src/main/resources/db/migration/V12__Add_password_hash.sql
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
  backend/src/main/resources/db/migration/V4__Register_ESP32_device.sql
Due: none

fix: configure CORS and cookies from environment variables for Render OAuth
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/resources/application.properties
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement JWT token exchange for cross-domain OAuth on Render
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/JwtService.java
  frontend/src/views/AuthCallbackView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

fix: use object destructuring in AuthCallbackView
  frontend/src/views/AuthCallbackView.vue
Due: frontend-eslint, frontend-prettier

fix: use getUser().getId() instead of getUserId() in OAuth handler
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/OAuth2AuthenticationSuccessHandler.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

fix: use setUser directly from token exchange response instead of checkAuth
  frontend/src/stores/auth.js
  frontend/src/views/AuthCallbackView.vue
Due: frontend-eslint, frontend-prettier

feat: Add JWT token-based auth for cross-domain API requests
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/JwtAuthenticationFilter.java
  frontend/src/api/axios.js
  frontend/src/stores/auth.js
  frontend/src/views/AuthCallbackView.vue
  frontend/src/views/SchedulesView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

fix: Fix Vue template syntax error in SchedulesView
  frontend/src/views/SchedulesView.vue
Due: frontend-eslint, frontend-prettier

docs: update README to include live demo link, test credentials, and note on server load time
  README.md
Due: none

fix: Make V1 migration compatible with Render PostgreSQL
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
Due: none

fix: return JWT token in email/password login for cross-domain auth on Render
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  frontend/src/api/auth.js
  frontend/src/stores/auth.js
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(vue|js|jsx|cjs|mjs)$
  frontend-prettier: any of: ^frontend/.*\.(vue|js|jsx|cjs|mjs|json|css)$
  backend-checkstyle: any of: ^backend/src/main/java/.*\.java$
  backend-pmd: any of: ^backend/src/main/java/.*\.java$
  backend-spotbugs: any of: ^backend/src/main/java/.*\.java$
