Repository muhammadnoorulainroy/smart-lighting-scenes-with-natural-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

.pre-commit-config.yaml:

repos:
  # Frontend: ESLint and Prettier
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint:check'
        language: system
        files: ^frontend/.*\.(vue|js|jsx|cjs|mjs)$
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        files: ^frontend/.*\.(vue|js|jsx|cjs|mjs|json|css)$
        pass_filenames: false

  # Backend: Checkstyle, PMD, SpotBugs
  - repo: local
    hooks:
      - id: backend-checkstyle
        name: Backend Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain --quiet'
        language: system
        files: ^backend/src/main/java/.*\.java$
        pass_filenames: false

      - id: backend-pmd
        name: Backend PMD
        entry: bash -c 'cd backend && ./gradlew pmdMain --quiet'
        language: system
        files: ^backend/src/main/java/.*\.java$
        pass_filenames: false

      - id: backend-spotbugs
        name: Backend SpotBugs
        entry: bash -c 'cd backend && ./gradlew spotbugsMain --quiet'
        language: system
        files: ^backend/src/main/java/.*\.java$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(backend/build/|frontend/dist/|node_modules/)
      - id: end-of-file-fixer
        exclude: ^(backend/build/|frontend/dist/|node_modules/)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

feat: add MIT License to the project
  LICENSE
Due: none

docs: update README.md with badges and enhanced project description
  README.md
Due: none

feat: add API documentation for backend and frontend, enhance Javadoc and JSDoc configurations
  README.md
  backend/build.gradle.kts
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/DevicesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/DeviceDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/UserDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Device.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/DeviceState.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Room.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/User.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/DeviceRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/RoomRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  frontend/.gitignore
  frontend/jsdoc.config.json
  frontend/package.json
  frontend/src/api/auth.js
  frontend/src/api/axios.js
  frontend/src/api/devices.js
  frontend/src/api/rooms.js
  frontend/src/stores/auth.js
  frontend/src/utils/logger.js
  frontend/src/utils/routeGuards.js
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

docs: add getting started tutorial to README and create tutorial documentation
  README.md
  docs/tutorials/tutorial.md
Due: none

feat: implement ESP32 BLE Central and Main Controller for sensor data management
  embedded/esp32_controller_1/ble_central.py
  embedded/esp32_controller_1/boot.py
  embedded/esp32_controller_1/config.py
  embedded/esp32_controller_1/main.py
  embedded/esp32_controller_2/boot.py
  embedded/esp32_controller_2/config.py
  embedded/esp32_controller_2/config_bridge.py
  embedded/esp32_controller_2/config_manager.py
  embedded/esp32_controller_2/led_controller_async.py
  embedded/esp32_controller_2/logger.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/mqtt_client_async.py
  embedded/esp32_controller_2/oled_display_async.py
  embedded/esp32_controller_2/sensor_logic_async.py
  embedded/esp32_controller_2/uart_receiver_async.py
  embedded/esp32_controller_2/wifi_provisioning.py
  embedded/nrf52840_sensor_1/code.py
  embedded/nrf52840_sensor_2/code.py
  embedded/test-standalone/README.md
  embedded/test-standalone/esp32_controller/ble_scanner.py
  embedded/test-standalone/esp32_controller/boot.py
  embedded/test-standalone/esp32_controller/config.py
  embedded/test-standalone/esp32_controller/led_controller.py
  embedded/test-standalone/esp32_controller/main.py
  embedded/test-standalone/esp32_controller/mqtt_handler.py
  embedded/test-standalone/esp32_controller/oled_display.py
  embedded/test-standalone/esp32_controller/sensor_logic.py
  embedded/test-standalone/esp32_controller/sh1107.py
  embedded/test-standalone/esp32_controller/test_audio_levels.py
  embedded/test-standalone/esp32_controller/test_ble_scan.py
  embedded/test-standalone/nrf52840_sensor_1/code.py
  embedded/test-standalone/nrf52840_sensor_2/code.py
Due: none

docs: add comprehensive documentation for the Smart Lighting embedded system and setup tutorial
  docs/EMBEDDED_SYSTEM.md
  docs/tutorials/embedded-setup.md
Due: none

fix: update JAR structure comment for clarity and change repository URLs in package.json
  BUILD.md
  package.json
Due: none

docs: update repository URL in README for cloning instructions
  README.md
Due: none

refactor: improve application structure and code clarity
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/SmartLightingScenesWithNaturalLanguageApplication.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/MqttConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/SecurityConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/StartupRunner.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/WebSocketConfig.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: clean up code formatting and improve documentation in controllers
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AuthController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/AutomationController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/DevicesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/EventsController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/LightingController.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: enhance code readability and organization in controllers and DTOs
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/RoomsController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/UsersController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/DeviceDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/EventDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/RoomDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/UserDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Automation.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: mproved import organization and added missing annotations in Device, DeviceState, Event, Room, Scene, User, and their respective repositories.
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Device.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/DeviceState.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Event.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Room.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Scene.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/User.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/DeviceRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/EventRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/RoomRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/SceneRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/UserRepository.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

refactor: enhance code clarity and consistency in OAuth2 user handling and automation services
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/CustomOAuth2User.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/CustomOAuth2UserService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/OAuth2AuthenticationFailureHandler.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/security/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/AutomationService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/OpenAIService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/websocket/WebSocketEventService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

chore: update spotbugs exclusions to address false positives and enhance code quality
  backend/config/spotbugs/spotbugs-exclude.xml
Due: none

refactor: disable specific Vue formatting rules in ESLint configuration, as formatting is now managed by Prettier
  frontend/.eslintrc.cjs
Due: frontend-eslint, frontend-prettier

refactor: improve code formatting and readability across multiple components and files, including Vue templates, CSS, and JavaScript files
  frontend/src/App.vue
  frontend/src/api/axios.js
  frontend/src/api/events.js
  frontend/src/api/users.js
  frontend/src/assets/main.css
  frontend/src/components/AuthButton.vue
  frontend/src/components/AuthModal.vue
  frontend/src/components/ErrorAlert.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/UserMenu.vue
  frontend/src/components/home/FeatureCard.vue
  frontend/src/components/home/icons.js
  frontend/src/router/index.js
  frontend/src/stores/auth.js
  frontend/src/stores/auth.test.js
  frontend/src/utils/logger.js
  frontend/src/utils/logger.test.js
  frontend/src/utils/routeGuards.js
  frontend/src/utils/routeGuards.test.js
  frontend/src/views/AuthCallbackView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/NotFoundView.vue
  frontend/src/views/OwnerDashboardView.vue
  frontend/src/views/RoutinesView.vue
Due: frontend-eslint, frontend-prettier

chore: update backend command syntax in package.json to remove leading dot for gradlew commands
  package.json
Due: none

refactor: update RoomsController, Room entity, and RoomDto to handle default room logic and enhance database migrations for room and device management
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/RoomsController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/RoomDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Room.java
  backend/src/main/resources/db/migration/V4__Register_ESP32_device.sql
  backend/src/main/resources/db/migration/V5__Add_second_owner.sql
  backend/src/main/resources/db/migration/V6__Fix_rooms_and_devices.sql
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/OwnerDashboardView.vue
  frontend/src/views/RoomsView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

docs: enhance documentation for natural language processing features, including OpenAI integration, environment variables, and runtime configuration updates for the Smart Lighting system
  BUILD.md
  README.md
  docs/API.md
  docs/DEVELOPMENT.md
  docs/EMBEDDED_SYSTEM.md
  docs/tutorials/tutorial.md
Due: none

feat: implement scheduling functionality with SchedulesController, Schedule entity, and ScheduleDto for managing lighting schedule
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/SmartLightingScenesWithNaturalLanguageApplication.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/SchedulesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/ScheduleDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Schedule.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/ScheduleRepository.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add Flyway database migration support with environment variable loading for PostgreSQL configuration
  backend/build.gradle.kts
Due: none

feat: implement NLP command processing with NlpController, NlpCommandDto, NlpCommand entity, and NlpService for natural language lighting control
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/NlpController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/NlpCommandDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/NlpCommand.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/NlpCommandRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/NlpService.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: integrate WebSocket functionality for real-time updates on sensor data and device states, with connection management based on authentication status
  frontend/src/App.vue
  frontend/src/stores/websocket.js
Due: frontend-eslint, frontend-prettier

feat: implement dynamic runtime configuration for ESP32 controller, allowing backend overrides via MQTT and enhancing OLED display settings
  embedded/esp32_controller_2/config.py
  embedded/esp32_controller_2/main.py
  embedded/esp32_controller_2/mqtt_client_async.py
  embedded/esp32_controller_2/oled_display_async.py
  embedded/esp32_controller_2/runtime_config.py
  embedded/esp32_controller_2/sensor_logic_async.py
  embedded/esp32_controller_2/sh1107.py
Due: none

feat: add system configuration management with REST API, database entity, and MQTT integration for real-time updates
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/config/MqttConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ConfigController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/SystemConfig.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/SystemConfigRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/ConfigService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/websocket/WebSocketEventService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V10__Add_scenes_and_schedules.sql
  backend/src/main/resources/db/migration/V11__Add_system_config.sql
  backend/src/main/resources/db/migration/V7__Update_device_types.sql
  backend/src/main/resources/db/migration/V8__Update_adafruit_sensors.sql
  backend/src/main/resources/db/migration/V9_1__Repair_flyway_history.sql
  backend/src/test/java/com/example/smart/lighting/scenes/with_natural/language/service/MqttServiceTest.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement schedule conflict detection and resolution service, enhancing lighting automation with AI-driven analysis and conflict management
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/ScheduleConflictService.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/service/SchedulerService.java
  frontend/src/api/schedules.js
  frontend/src/components/schedules/ScheduleModal.vue
  frontend/src/views/SchedulesView.vue
Due: frontend-eslint, frontend-prettier, backend-checkstyle, backend-pmd, backend-spotbugs

feat: add ScenesController, SceneDto, and Scene entity for managing lighting scenes with REST API, including create, read, update, and delete operations
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/ScenesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/SceneDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Scene.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/SceneRepository.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: implement Scenes API and Scene modal for managing lighting presets, including create, read, update, and delete functionalities
  frontend/src/api/scenes.js
  frontend/src/components/scenes/SceneModal.vue
  frontend/src/views/ScenesView.vue
Due: frontend-eslint, frontend-prettier

feat: enhance DevicesController with sensor reading retrieval and add ConflictAnalysisDto for schedule conflict analysis
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/DevicesController.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/ConflictAnalysisDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/Device.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/DeviceRepository.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/DeviceStateRepository.java
  backend/src/main/resources/db/migration/V9_1__Repair_flyway_history.sql
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add AddDeviceModal and DeviceDetailModal components for device management, including sensor reading retrieval and device control features
  frontend/src/api/devices.js
  frontend/src/components/AddDeviceModal.vue
  frontend/src/components/rooms/DeviceCard.vue
  frontend/src/components/rooms/DeviceDetailModal.vue
Due: frontend-eslint, frontend-prettier

feat: introduce SensorReading entity, DTO, and repository for managing sensor data from IoT devices
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/dto/SensorReadingDto.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/entity/SensorReading.java
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/repository/SensorReadingRepository.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add AddRoomModal and RoomCard components for room management, including room creation and device display functionalities
  frontend/src/components/AddRoomModal.vue
  frontend/src/components/rooms/RoomCard.vue
  frontend/src/views/RoomsView.vue
Due: frontend-eslint, frontend-prettier

feat: add API modules for configuration, lighting control, and natural language processing, enhancing system management capabilities
  frontend/package.json
  frontend/src/api/config.js
  frontend/src/api/lighting.js
  frontend/src/api/nlp.js
  package-lock.json
Due: frontend-eslint, frontend-prettier

refactor: update LightingController to streamline LED command handling and introduce new endpoints for device power and scene management
  backend/src/main/java/com/example/smart/lighting/scenes/with_natural/language/controller/LightingController.java
Due: backend-checkstyle, backend-pmd, backend-spotbugs

feat: add SettingsView component and update UserMenu for owner-specific settings access
  frontend/src/components/UserMenu.vue
  frontend/src/router/index.js
  frontend/src/views/SettingsView.vue
Due: frontend-eslint, frontend-prettier

feat: add Mosquitto configuration file for smart lighting and update dependencies for Google API client
  backend/build.gradle.kts
  mosquitto-local.conf
Due: none

feat: add Docker configuration for full stack smart lighting application, including frontend (Nginx), backend (Spring Boot), PostgreSQL, Redis, and Mosquitto services
  Makefile
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

docs: expand README with Docker quick start guide, local development setup, and environment variable configuration
  README.md
Due: none

docs: update API and development documentation for Docker deployment and local setup, including environment variable details and WebSocket connections
  docs/API.md
  docs/DEVELOPMENT.md
  docs/tutorials/tutorial.md
Due: none

chore: update application properties and refactor API URL handling in frontend for better Docker compatibility
  backend/src/main/resources/application.properties
  frontend/src/api/axios.js
  frontend/src/stores/auth.js
  frontend/src/stores/websocket.js
  infra/mosquitto/config/mosquitto.conf
Due: frontend-eslint, frontend-prettier
